<div class="card">
    <div class="card-header">
        <h4 class="font-weight-bold">Add Coniguration</h4>
    </div>
    <div class="card-body">
        <form action="/addConf" method="post">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="col-form-label" for="apiKey">API Key</label>
                        <input type="text" class="form-control" name="apiKey" placeholder="Enter API Key" id="apiKey">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="col-form-label" for="secretKey">Secret Key</label>
                        <input type="text" class="form-control" name="secretKey" placeholder="Enter Secret Key" id="secretKey">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="col-form-label" for="margin">Margin</label>
                        <input type="number" class="form-control" name="margin" placeholder="Enter Margin" id="margin">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="col-form-label" for="leverage">Leverage</label>
                        <input type="text" class="form-control" name="leverage" placeholder="Enter Leverage" id="leverage">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="col-form-label" for="balanceBuffer">Balance Buffer</label>
                        <input type="text" class="form-control" name="balanceBuffer" placeholder="Enter Balance Buffer" id="balanceBuffer">
                    </div>
                </div>
            </div>
            <div class="">
                <button itype="submit" class="btn btn-success">Submit</button>
                <a href="/" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>

<!-- <div>
    my name is ali jawad
</div> -->