<div class="card">
    <div class="card-header">
        <h4 class="font-weight-bold">Add Coniguration</h4>
    </div>
    <div class="card-body">
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script>
           

            const socket = io("ws://localhost:3000");
            socket.on("connect", () => {
            // either with send()
            socket.send("Hello!");
            // or with emit() and custom event names
            socket.emit("salutations", "Hello!", { "mr": "conf" }, Uint8Array.from([1, 2, 3, 4]));
            });
            // handle the event sent with socket.send()
            socket.on("message", data => {
            console.log('MESSAGE DATA', data);
            });
            // handle the event sent with socket.emit()
            socket.on("greetings", (elem1, elem2, elem3) => {
            console.log('ELEMENTS',elem1, elem2, elem3);
            });
        </script>
        <form action="/addConf" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="name">Configuration Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter Conf Name" id="name">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="apiKey">API Key</label>
                        <input type="text" class="form-control" name="apiKey" placeholder="Enter API Key" id="apiKey">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="secretKey">Secret Key</label>
                        <input type="text" class="form-control" name="secretKey" placeholder="Enter Secret Key" id="secretKey">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="margin">Margin</label>
                        <select name="margin" id="margin" class="form-control" 
                            placeholder="Select Margin">
                            <!-- <option value="">Select Margin</option> -->
                            <option value="CROSSED">CROSSED</option>
                            <!-- <option value="ISOLATED">ISOLATED</option> -->
                        </select>
                        <!-- <input type="text" class="form-control" name="margin" placeholder="Enter Margin" id="margin"> -->
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="leverage">Leverage</label>
                        <input type="number" class="form-control" name="leverage" placeholder="Enter Leverage" id="leverage">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="balanceBuffer">Balance Buffer</label>
                        <input type="number" class="form-control" name="balanceBuffer" placeholder="Enter Balance Buffer" id="balanceBuffer">
                    </div>
                </div>
            </div>
            <div class="" style="margin-top: 15px;">
                <button itype="submit" class="btn btn-success">Submit</button>
                <a href="/allConfs" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>

<!-- <div>
    my name is ali jawad
</div> -->