<div class="card">
    <div class="card-header">
        <h4 class="font-weight-bold">Add New Order</h4>
    </div>
    
    <div class="card-body">
        <form action="/addOrder" method="post">
            <div class="row">
                <div class="col-6">
                    <label class="col-form-label" for="tokenname">Token Name</label>
                    <input list="browsers" name="tokenname" id="tokenname" class="form-control"
                    placeholder="Token Name">
                    <datalist id="browsers">
                        <% for(let tick of tickArr) { %>
                            <option value="<%= tick %>"><%= tick %></option>
                        <% } %>
                    </datalist>
                    <!-- <div class="form-group">
                        <label class="col-form-label" for="tokenname">Token Name</label>
                        <input type="text" class="form-control" name="tokenname" placeholder="Enter Token name" id="tokenname">
                    </div> -->
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="buyprice">Buy Price</label>
                        <input type="number" class="form-control" name="buyprice" placeholder="Enter Buy Price" id="buyprice">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="stoploss">Stop Loss</label>
                        <input type="number" class="form-control" name="stoploss" placeholder="Enter your Stop Loss" id="stoploss">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="amount">Amount</label>
                        <input type="number" class="form-control" name="amount" placeholder="Enter your Amount" id="amount">
                    </div>
                </div>
                <div class="col-6 form-group">
                    <label class="col-form-label" for="confId">Configuration</label>
                    <select name="confId" id="confId" class="form-control" change="onChange($event)">
                        <% if(confs.length > 0) { %>
                            <option value="">Select Configuration</option>
                        <% } else { %>
                            <option value="">No Configuration Available</option>
                        <% } %>

                        <% for(let conf of confs) { %>
                            <option value="<%= conf.id %>"><%= conf.name %></option>
                        <% } %>
                    </select>
                  <!-- <div *ngIf="titleSelect.controls['title'].errors?.required &&
                  titleSelect.controls['title'].touched" class="required">Option Required</div> -->
                </div>
                <!-- <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="cnic">CNIC</label>
                        <input type="text" class="form-control" name="cnic" placeholder="22222-2222222-2" id="cnic">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="addres">Address</label>
                        <textarea class="form-control" name="address" id="address" rows="3"></textarea>
                    </div>
                </div> -->
            </div>
            <div class="" style="margin-top: 15px;">
                <button itype="submt" class="btn btn-success">Submit</button>
                <a href="/allOrders" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>