<div class="card">
    <div class="card-header">
        <h4 class="font-weight-bold">Order Status</h4>
    </div>
    <div class="card-body">
        <form action="/allOrders">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="tokenname">Token Name</label>
                        <input type="text" class="form-control" value="<%= order.tokenname %>" name="tokenname" placeholder="Enter Token name" id="tokenname">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="buyprice">Buy Price</label>
                        <input type="number" class="form-control" value="<%= order.buyprice %>" name="buyprice" placeholder="Enter Buy Price" id="buyprice">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="stoploss">Stop Loss</label>
                        <input type="number" class="form-control" value="<%= order.stoploss %>" name="stoploss" placeholder="Enter your Stop Loss" id="stoploss">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="amount">Amount</label>
                        <input type="number" class="form-control" value="<%= order.amount %>" name="amount" placeholder="Enter your Amount" id="amount">
                    </div>
                </div>
                <div class="col-6 form-group">
                    <label class="col-form-label" for="confId">Configuration</label>
                  <!-- <div *ngIf="titleSelect.controls['title'].errors?.required &&
                  titleSelect.controls['title'].touched" class="required">Option Required</div> -->
                </div>
            </div>
            <div class="" style="margin-top: 15px;">
                <button type="submit" class="btn btn-success">Back</button>
                <a href="/allOrders" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>